@model ChangePasswordViewModel

<h2>Изменение пароля для пользователя @Model.UserName</h2>
<form asp-action="EditPasswordUser" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="UserName" />
    <input type="hidden" asp-for="PhoneNumber" />
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Старый пароль </label>
        <input type="text" asp-for="OldPassword" class="form-control rounded-input" name="oldPassword" />
        <span asp-validation-for="OldPassword"></span>
    </div>
    <br>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль </label>
        <input type="text" asp-for="NewPassword" class="form-control rounded-input" name="newPassword" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <span style="color:red">@ViewData["Message"]</span>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="button" />
    </div>
</form>
