@model CatharsisRawWebApplication.Models.RegisterViewModel
<h2>Регистрация нового пользователя</h2>
<form method="post" asp-controller="Account" asp-action="Registration" class="row g-3">
    <div asp-validation-summary="ModelOnly"></div>
   
        <div class="col-md-4">
            <label asp-for="UserName"></label><br />
            <input asp-for="UserName" class="rounded-input" />
            <span asp-validation-for="UserName"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Email"></label><br />
            <input asp-for="Email" class="rounded-input" />
            <span asp-validation-for="Email"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="PhoneNumber"></label><br />
            <input asp-for="PhoneNumber" class="rounded-input" />
            <span asp-validation-for="PhoneNumber"></span>
        </div>
  
   

    <div class="col-12">
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="rounded-input" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="col-12">
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="rounded-input" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>


    <div class="col-12" >
        <input type="submit" value="Регистрация" class="button" />
    </div>
</form>
